.promocard
{
    background-color: rgba(10, 29, 29, 0.315);
    border-radius: 24px;
    width: 300px;
    height: 400px;
    align-items: center;
    text-align: center;
    img{
        display: block;
        margin-left: -5%;
        width: 110%;
        height: 150px;
        align-items: center;
        object-fit: fit;
    }  
    .title{
        font-size: xx-large;
        font-weight: 900;
    }  
    a{
        position: fixed;
        bottom: -8px;
        width: 80%;
        left: 10%;
    }
    margin-top: 50px;
    margin-bottom: 50px;
}

.checked{
    color: orange;
}

.fa-star{
    font-size: x-large;
    margin-left: 4px;
}