<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <a href="#" class="footer-site-logo">{{sitename}}</a>
                <p>Nu promovez jocurile de noroc fac doar entertainment.</p>
                <p>Interzis persoaneleor sub 18 ani.</p>
                <a href="https://jocresponsabil.ro"><img style="height: 50px;" src="/assets/img/logo-joc-responsabil-alb-02.png"></a>
            </div>
        
            <div class="col-md navbar-right">
            <ul class="list-unstyled nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>Acasă</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/promo"> <i class="fa fa-ticket" aria-hidden="true"></i>Promoții</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link" href="/moca"> <i class="fa fa-gift" aria-hidden="true"></i>Chestii Moca</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact"> <i class="fa fa-envelope" aria-hidden="true"></i>Contact</a>
                  </li>
            </ul>            
            </div>  
            <div class="col-md text-md-center">
                <ul class="social list-unstyled">
                <li><a class="nav-link" href="https://www.instagram.com/coxinotv/"><i class="fa fa-instagram fa-2x"> Instagram</i></a></li>
                <br>
                <li><a class="nav-link" href="https://www.youtube.com/channel/UCVys2Q0f659A5EutSddgcDA"> <i class="fa fa-youtube fa-2x" aria-hidden="true"> Youtube</i></a></li>
                <!--<li><a class="nav-link" href="#"> 
                    <i class="fa fa-tiktok fa-2x" aria-hidden="true">
                    <img style="height: 20px;" src="https://mpng.subpng.com/20200923/ajq/transparent-social-media-5f6b3132c0aed0.9134264216008604667892.jpg"> Tik Tok
                </i></a></li>-->                
                </ul>
            </div>      
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="copyright">
                    <p><small>coxino tv © 2021 All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>