.social-media-box
{
    display: block;
    margin: auto;
    width: 100%;
    height: 300px;
    .social-media-name
    {
        text-align: center;
        font-weight:bolder;
        font-size: 22px;
    }
    .social-media-picture
    {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 88px;
    }
    .social-media-points
    {
        font-size: 28px;
    }
    
    .youtube-button
    {
        border-radius: 50%;
        display: block;
        margin:auto;
        margin-top: 80px;
        width: 140px;
    }
}

.luckyWheel
{
    background-color: blue;
    height: 200px;
    width: 350px;
}


.item-image
{    
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.youtube-button
{ height: 40px;
    width: 150px;   
    margin: auto !important;
}
.btn-google
{
    height: 40px;
    width: 150px;   

    color: #000000;
    cursor: pointer;
    font-weight: bold;
    background: url('/assets/img/gbutton/btn_google_signin_dark_normal_web@2x.png');
    background-size: contain;
    background-repeat: no-repeat;  
    &:hover
    {
        background: url('/assets/img/gbutton/btn_google_signin_dark_focus_web@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &:active
    {
        background: url('/assets/img/gbutton/btn_google_signin_dark_pressed_web@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 1080px)
{
    .item-image
    {    display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .social-media-box
    {
        display: block;
        margin: auto;
        height: 300px;
    }
}


.giveway-box
{
    background-color: rgba(250, 235, 215, 0.116);
    border-radius: 24px;
}

.fa
{
    display: inline;
    margin: 4px !important;
}

.tikets
{
    color: #fdffb6;
    text-align: center; 
    font-size: large;
    font-weight:400;
    display: block;
    margin: auto;
}