<section class="page-section portfolio" id="portfolio">    
  <app-user-component></app-user-component>
    <div class="container " >
        <div class="row">   
            <div class="col-lg-6 mb-5 d-flex justify-content-center" *ngFor="let item of GivewayItems; index as i;">
                <div class="giveway-box" >                    
                    <h5>{{item.givewayModel.name}}</h5> 
                    <div class="row ">
                        <div class="col">
                            <h6>
                            <p [innerHTML]="item.givewayModel.description | linkify"></p>
                        </h6>
                        </div>
                    </div>             
                    
                    <h6>Poti cumpara maxim {{item.givewayModel.maxTikets}}</h6>

                    <h6>{{item.time}}</h6> 
                    <div class="sanse" *ngIf="isActive(item.givewayModel.endTime) === true">
                        <p class="tikets">                           
                            <b>Castigatori: {{item.givewayModel.winnersCount}}</b><br> 
                            <b>Biletele tale:</b><i class="fa fa-ticket">{{item.userTikets}} / {{item.givewayModel.maxTikets}}</i><br>
                            <b>Bilete vandute:</b><i class="fa fa-ticket">{{item.totalTikets}}</i><br>
                            <b>Sansele Tale: </b>{{ item.userTikets / item.totalTikets * 100 | currency : ' ' : 'symbol' : '1.0-2'}} %</p>    
                            <!-- <img src="/assets/img/paysafe.jpg"> -->
                        </div>
                        <div class="winners" *ngIf="isActive(item.givewayModel.endTime) == false">
                            <p class="tikets">
                                <b>Bilete vandute:</b><i class="fa fa-ticket">{{item.totalTikets}}</i><br>
                            </p>  
                            <h4>  Castigatori : </h4>
                            <div class="winner"  *ngFor="let winner of item.winners; index as i;">
                                <p class="tikets"> 
                                   <b> {{i+1}}. {{winner}}  </b>
                                </p>
                                
                            </div>
                        </div>
                        
                        <button class="btn btn-primary" style="width: 40%;margin: auto;display: block;margin-top: 10px;" (click)="buyTiket(item.givewayModel.id)" *ngIf="isActive(item.givewayModel.endTime)">Participa <i class="fa fa-money" aria-hidden="true"></i> {{item.givewayModel.price}}</button>
                    </div>                
                </div>
            </div>
        </div>
    </section>
    
    
    
    