
<nav class="navbar navbar-expand-lg navbar-dark custom-nav-bg">
    <a class="navbar-brand" href="#">
        <h1>{{sitename}}</h1>   
    </a>
    <button class="navbar-toggler" type="button"
    (click)="toggleNavbar()">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/acasa"><i class="fa fa-home" aria-hidden="true"></i> Acasă</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/promotii"> <i class="fa fa-ticket" aria-hidden="true"></i> Promoții</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/moca"> <i class="fa fa-gift" aria-hidden="true"></i> Giveaway</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:coxinotv@gmail.com"> <i class="fa fa-envelope" aria-hidden="true"></i> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/policy"> <i class="fa fa-envelope" aria-hidden="true"></i> Policy</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/contest"> <i class="fa fa-envelope" aria-hidden="true"></i> Concurs</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/crp"> <i class="fa fa-trophy" aria-hidden="true"></i>Cupa Pacanelelor</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/geuro"><i class="fa fa-euro" aria-hidden="true"></i> Givaway 150 euro</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" alt="bonushunt overlay" href="http://streamag.westeurope.cloudapp.azure.com:8080/"> <i class="fa fa-pager" aria-hidden="true"></i>Overlay</a>
        </li> -->
      </ul>
    <div class="g-ytsubscribe" data-channelid="UCVys2Q0f659A5EutSddgcDA" data-layout="full" data-count="hidden"></div>
    <!-- 
      <ul class="nav navbar-nav navbar-center"  *ngIf="mobile">
        <li class="nav-item align-center">
          <a class="nav-link d-inline mr-3" href="https://instagram.com/coxinotv"><i class="fa fa-instagram fa-2x"></i></a>
          <a class="nav-link d-inline mr-3" href="https://www.youtube.com/channel/UCVys2Q0f659A5EutSddgcDA"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
          <a class="nav-link d-inline mr-3" href="https://www.twitch.tv/coxinotv"> <i class="fa fa-twitch fa-2x" aria-hidden="true"></i></a>
        </li>
      </ul> 

      <ul class="nav navbar-nav navbar-right" *ngIf="!mobile">
        <li class="nav-item align-right">
          <a class="nav-link" href="https://instagram.com/coxinotv"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
          <li class="nav-item align-right">
          <a class="nav-link" href="https://www.youtube.com/channel/UCVys2Q0f659A5EutSddgcDA"> <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item align-right">
          <a class="nav-link" href="https://www.twitch.tv/coxinotv"> <i class="fa fa-twitch fa-2x" aria-hidden="true"></i></a>
        </li>
      </ul> -->

    </div>
  </nav>
