<section class="page-section portfolio" id="portfolio">
    <div class="container-flex">   
        <div class="box" style="margin: auto; width: 80rem; background-color: #524A4E;align-content: center; color: white;">
            <div class="content" style="width: 45%; margin: auto; text-align: center;">
        <a href="https://biamo.bet/?faff=1455"><img style="object-fit: contain;" alt="giveaway 150 euro coxino stream live" src="https://www.biamo.bet/static/images/logo.svg"></a>                  
        <h2 style="color: brown;"><p>Cum sa te inscrii :</p></h2>
        <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://biamo.bet/?faff=1455"><h4>Creeaza-ti un cont nou aici</h4></a>
        <h4><span> 1. Iti faci un cont nou din <a href="https://biamo.bet/?faff=1455">link AICI</a>!</span></h4>                              
        <h4><span> 2. Te inscrii la giveaway <a href="/moca">AICI</a></span></h4>  
        <h6><span> 3. Poti juca cu <a href="https://chrome.google.com/webstore/detail/touch-vpn-secure-and-unli/bihmplhobchoageeokmgbdihknkjbknd?hl=en">VPN(instaleaza)</a>, fara sa intampini probleme!</span></h6>  
        <img style="height: 40px;" src="https://biamo.bet/static/images/rated.svg">
        <h6><span> *Este necesara o depunere.</span></h6>  
        <h6>Licența nr. 57319 Curacao</h6>
    </div>
    </div>     
    </div>
</section>