


.youtube-button
{ height: 40px;
    width: 150px;   
    margin: auto !important;
}
.btn-google
{
    height: 40px;
    width: 150px;   

    color: #000000;
    cursor: pointer;
    font-weight: bold;
    background: url('/assets/img/gbutton/btn_google_signin_dark_normal_web@2x.png');
    background-size: contain;
    background-repeat: no-repeat;  
    &:hover
    {
        background: url('/assets/img/gbutton/btn_google_signin_dark_focus_web@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &:active
    {
        background: url('/assets/img/gbutton/btn_google_signin_dark_pressed_web@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}