<!-- <div class="row" style="width: 92vw; margin: auto; margin-bottom: 25px;  border: 5px solid red;">   
    <div class="col-3">
        <a href="https://bit.ly/3zfZhTu"><img width="100%" src="assets/img/cox.jpg"></a>
    </div>
    <div class="col-6">
        <div style="margin-top: 2%;">
            <h5>
                <span> <p>FOLOSESTE CODUL "COXINO"  <a href="https://bit.ly/3zfZhTu">
                    PE BETANO 
                </a> SI PRIMESTI </p> 
                       
                </span>
            </h5> 
            <h6><span> Bonus de bun venit 100% PÂNĂ LA 1 000 RON!</span></h6> 
            <h6> RULAJ 5X SPORT(depunere+bonus) SAU 12.5X(depunere+bonus) LA CASINO(1 000) </h6> 
            <h6> FACI DOVADA INREGISTRARII CU COD "COXINO" PE <a href="https://www.instagram.com/coxinoslots/">INSTAGRAM</a> SI PRIMESTI O INTRARE IN GIVEAWAY 1X PSF 100LEI</h6>
            <h6> EXTRAGEREA ARE LOC </h6><h5>SAPTAMANAL DUMINICA 11:00 - 14:00 PE LIVE</h5>
        </div>
    </div>
    <div class="col-2">
        <a style="height: 100%;align-items: center;" href="https://bit.ly/3zfZhTu"><h1 style="text-align:center; height: 50px; padding-top: 30%;" >IA BONUS ACUM </h1></a>        
    </div>
</div> -->

<div class="row" style="width: 92vw; margin: auto; margin-bottom: 25px;  border: 5px solid red;">
    Plaseaza o reclama aici <a href="mailto:coxinotv@gmail.com">CONTACT</a>
</div>