<app-cookie></app-cookie>
<app-navbar></app-navbar>
<app-notifications></app-notifications>
<header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{route}}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        </div>
</header>
<div class="min100">
<router-outlet ></router-outlet>
</div>
<app-footer></app-footer>