<section class="page-section portfolio" id="portfolio">     
    <div class="container-flex" style="display: block; height: 80vh; width: 68%; margin: auto;">  
        <h2 style="margin: auto;text-align: center;">Grafic Premii <b>Cupa Romaniei de Pacanele</b></h2> <br> 
        <div class="row" style="margin: auto;text-align: center;">   
            <div class="col">
                <div class="giveway-box">                   
                    <h3>Locul 1</h3>
                    <span>
                        <h4>Speciala de 500 lei la jocul ales!</h4>
                        <h6>Facem banii 50/50</h6>
                    </span>
                    <span>
                        <h5>50 Lei Shining Crown</h5>
                        <h5>1000 Fise!</h5>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="giveway-box">        
                    <h3>Locul 2</h3>
                    <span>
                        <h4>Speciale 160 Lei la jocul ales!</h4>
                        <h6>Facem banii 50/50</h6>
                    </span>
                    <span>
                        <h5>50 Lei Shining Crown</h5>
                        <h5>500 Fise!</h5>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin: auto;text-align: center;">   
            <div class="col">
                <div class="giveway-box">        
                    <h3>Locul 3</h3>
                    <span>
                        <h4>Speciala 80 Lei la jocul ales!</h4>
                        <h6>Facem banii 50/50</h6>
                    </span>
                    <span>
                        <h5>50 Lei Shining Crown</h5>
                        <h5>300 Fise!</h5>
                    </span>
                </div>
            </div>            
            <div class="col">
                <div class="giveway-box">        
                    <h3>Locul 4</h3>
                    <span>
                        <h4>Speciala 80Lei la jocul ales!</h4>
                        <h6>Facem banii 50/50</h6>
                    </span>
                    <span>
                        <h5>50 Lei Shining Crown</h5>
                        <h5>200 Fise!</h5>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="giveway-box">        
                    <h3>Locul 5-8</h3>
                    <span>
                        <h4>Experienta!</h4>
                    </span>
                    <span>
                        <h5>50 Lei Shining Crown</h5>
                        <h5>100 Fise!</h5>
                    </span>
                </div>   
            </div>
        </div>
    </div>
</section>
