<section style="height: 200vh;" class="page-section portfolio" id="portfolio">     
    <div class="container-flex" style="display: block; height: 80vh; width: 88%; margin: auto;">  
        <h2 style="margin: auto;text-align: center;"><b>CUPA PACANISTILOR SUPERBET</b></h2>
        <br> 
        <div class="row" style="margin: auto;text-align: center;">   
            <div class="col-12">
                <div style="margin: 12px; background-color: #ffff000e;border-radius: 12px;
                border-color: #f72585;border-style: solid;">                   
                <h3>Locul 1</h3>
                <span>                   
                    <h4>600RON SUPERBET!</h4>                        
                    <h4>PREMIILE SE IMPART IN PACHETE DE 150RON SAPTAMANAL</h4>                        
                    <h4>RULAJ 1X!</h4>                       
                </span>
                <span>
                    <h5>2 000 COX!</h5>
                </span>
            </div>
        </div>
        <div class="col-12">
            <div style="margin: 12px; background-color: #ffff000e;border-radius: 12px; border-color: #f72585;border-style: solid;">        
                <h3>Locul 2</h3>
                <span>
                    <h4>450RON SUPERBET!</h4>  
                    <h4>PREMIILE SE IMPART IN PACHETE DE 150RON SAPTAMANAL</h4>                         
                    <h4>RULAJ 1X!</h4>                        
                </span>
                <span>
                    <h5>1 000 COX!</h5>
                </span>
            </div>
        </div>
        <div class="col-12">
            <div style="margin: 12px; background-color: #ffff000e;border-radius: 12px; border-color: #f72585;border-style: solid;" >        
                <h3>Locul 3</h3>
                <span>
                    <h4>300RON SUPERBET!</h4>  
                    <h4>PREMIILE SE IMPART IN PACHETE DE 150RON SAPTAMANAL</h4>                         
                    <h4>RULAJ 1X!</h4>                        
                </span>
                <span>
                    <h5>1 000 COX!</h5>
                </span>
            </div>
        </div>      
        <div class="col-12">
            <div style="margin: 12px; background-color: #ffff000e;border-radius: 12px;
            border-color: #f72585;border-style: solid;">        
            <h3>Locul 4</h3>
            <span>
                <h4>300RON SUPERBET!</h4>                         
                <h4>PREMIILE SE IMPART IN PACHETE DE 100RON SAPTAMANAL</h4>                          
                <h4>RULAJ 1X!</h4>                        
            </span>
            <span>
                <h5>1 000 COX!</h5>
            </span>
        </div>
    </div>
    <div class="col-12">
        <div style="margin: 12px; background-color: #ffff000e;border-radius: 12px;
        border-color: #f72585;border-style: solid;">        
        <h3>Locul 5-8</h3>
        <span>                        
            <h4>100RON SUPERBET!</h4>                        
            <h4>RULAJ 1X!</h4>                        
        </span>
        <span>
            <h5>1 000 COX!</h5>
        </span>
    </div>   
</div>
</div>
</div>
</section>
