
<app-user-component></app-user-component>


<section class="page-section portfolio responsive" id="portfolio"> 
  <div class="container-flex">    
    

<app-image-showdown2></app-image-showdown2>
      <div  >
        <div style="display:inline-flex;" *ngFor="let item of ShopItems; index as i;">
          <div class="giveway-box" *ngIf="item.isVisible === true"> 
            <div class="details-box">
              <h5> {{item.nume}}</h5>          
              <h6> {{item.descriere}}</h6>          
              <input class="form-control" *ngIf="item.requireAditional === true"  type="text" name="numeSpeci" placeholder="Scrie aici numele specialei"  [(ngModel)]='item.optionalData'>
            </div> 
            <div class="img-box">
              <div class="mb-only" *ngIf="item.onlyMembers === true">
                <a href="https://www.youtube.com/c/coxinotv/membership"> ! MEMBERS ONLY ! </a>
              </div>
              <img class="item-image"  [src]="item.imagine">
            </div>
            <br>
            <button (click)="buyItem(item)" class="btn btn-primary shopbtn">
              <i class="fa fa-money" aria-hidden="true"></i> {{item.pret | currency : ' ' : 'symbol' : '1.0-0'}} (STOC {{item.stoc}})</button>
            </div>
          </div>    
      </div> 
    </div>
  </section>