$purple-color:#13051b;
$purple-light-color:#180535;
$wheat-color:#fdffb6;
$blue-neon-color:#12141b;
$dark-gray-color:#272640;
$angle: "45deg";

@mixin bg-gradient(){
background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,$purple-color), color-stop(100%, $blue-neon-color));
background: -moz-gradient(linear, left top, left bottom, color-stop(0%,$purple-color), color-stop(100%, $blue-neon-color));
background: -ms-gradient(linear, left top, left bottom, color-stop(0%,$purple-color), color-stop(100%, $blue-neon-color));
}