.masthead {    
  padding-bottom: 0.1rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 1.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 992px) {
  .masthead {     
    padding-bottom: 0.1rem;
  }
  .masthead .masthead-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  //max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  //position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

.divider-custom {
  margin: 1.25rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #f72585;
  border-radius: 1rem;
  border-color: #f72585;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #f72585;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

.img-fluid{
  height: 15em;
  width: 25em;
}

@media screen and (min-width: 1550px) {
  *{
    max-width: 99vw;
    margin: auto;
  }
  .responsive {
    max-width: 80vw;
    margin: auto;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 992px) {
  *{
    max-width: 99vw;
    margin: auto;
  }

  .responsive {    
    max-width: 90%;
    margin: auto;
  }

  .col{
    margin: 0px;
    max-width: 99%;
  }

  .giveway-box{
    max-width: 80vw;
    margin: auto !important;
    margin-bottom: 12px !important;
  }
}


  .giveway-box{      
    background-color: rgba(65, 255, 239, 0.034);
    position: relative;
    align-content: center;   
    width: 420px !important;
    height: 500px !important;
    border-radius: 21px;

    margin: 32px;

    h5{
      color: #f72585;
      text-align: center;
    }
    
      .details-box
      {
        margin: 0;
        width: 100% !important; 
        height: 30% !important;        
        overflow: hidden;
        text-align: center;
      }
      
      .shopbtn
      {
        margin: 0;
        display: block;
        width: 150px;
        margin: auto;
      }
      
      .img-box
      {
        margin: 0;
        width: 100%; 
        height: 48%;   
        overflow: hidden;
      }
      
      img
      {       
        width: 100%; 
        max-height: 100%; 
        object-fit: cover;   
        border-radius: 4%; 
      }
    }