<header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">

<!-- Masthead Avatar Image-->
<img class="masthead-avatar mb-5" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" src="/assets/img/images.png" alt="..." />


<!-- Masthead Subheading-->
<p class="masthead-subheading font-weight-light mb-0">Addicted Gambler - Entertainer - Idolul Femeilor</p>
</div>
</header>
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <br>
        <h2 class="page-section-heading text-center text-uppercase mb-0 video-title">Linkuri utile</h2>
       
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star" ></i></div>
            <div class="divider-custom-line"></div>
        </div>    
      
        <div class="row justify-content-center">            
           
            <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="video-title">Magazin Puncte Loialitate</h3>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet betano free spins cash coxino stream live" href="/shop">   
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 opacity-25">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-link fa-3x"></i></div>
                        </div>                               
                        <img style="object-fit: cover;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" class="img-fluid" src="/assets/img/modern-casino-chips-futuristic-blue-260nw-1477941617.jpg" alt="bonus hunt coxino gambling free spins" />
                    </a>   
                </div>
            </div>
          
            <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="video-title">Giveaways</h3>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet betano free spins cash coxino stream live" href="/moca">   
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 opacity-25">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-link fa-3x"></i></div>
                        </div>                               
                        <img style="object-fit: cover;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" class="img-fluid" src="/assets/img/modern-casino-chips-futuristic-blue-260nw-1477941617.jpg" alt="bonus hunt coxino gambling free spins" />
                    </a>   
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="video-title">Promotii</h3>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet betano free spins cash coxino stream live" href="/promotii">   
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 opacity-25">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-link fa-3x"></i></div>
                        </div>                               
                        <img style="object-fit: cover;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" class="img-fluid" src="/assets/img/modern-casino-chips-futuristic-blue-260nw-1477941617.jpg" alt="bonus hunt coxino gambling free spins" />
                    </a>   
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="video-title">In curand</h3>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://www.youtube.com/watch?v=2ue_pM7DcMY">   
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 opacity-25">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-link fa-3x"></i></div>
                        </div>                               
                    <img alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" class="img-fluid" src="/assets/img/3500-RON-BONUS-HUNT.jpg" alt="bonus hunt coxino gambling free spins" />
                    </a>   
                </div>
            </div> -->
            
           
            <!-- <div class="col-md-6 col-lg-4 mb-5">
                <h3 class="video-title">Giveaway 200 Lei</h3>
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="/moca">   
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100 opacity-25">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-link fa-3x"></i></div>
                        </div>                                
                        <img alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" class="img-fluid" src="/assets/img/chipuri.jpg" alt="bonus hunt coxino gambling free spins" />
                        </a>   
                </div>
            </div>             -->
        </div>
    </div>
</section>