<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row">   
            <div class="col">
                <div class="promo-box">
                    <a style="text-align: center;" href="https://bit.ly/3Lmjo5p"><h3>3 000 RON Conti Casino</h3>
                        <img style="object-fit: contain;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" src="https://conticazino.ro/static/images/Logo.png"></a>
                    </div>    
                </div>
                
                <div class="col">
                    <div class="promo-box">
                        <div class="wide">
                            <h3 *ngIf="!mobile"><p>Promotie Conti Casino</p></h3>
                            <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://bit.ly/3Lmjo5p"><h4>Creeaza-ti un cont nou aici</h4></a>
                            <h6><span> 75 Rotiri la Shining Crown daca iti faci cont din link-ul meu si introduci codul "75Rotiri" in sectiunea bonusuri din contul meu!</span></h6> 
                            <h6><span> Bonus de bun venit 100% PÂNĂ LA 3.000 RON + 1 000 Free Spins, spor la castiguri!</span></h6> 
                            <h6 style="color: red;">Atentie Bonus Limitat</h6> 
                            <h6>Licența L1213903W001343</h6>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row">   
            <div class="col">
                <div class="promo-box">
                    <a style="text-align: center;" href="https://bit.ly/35mW6wC"><h3>5 000 RON Mr. Bit</h3>
                        <img style="object-fit: contain;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" src="/assets/img/mrbitlogo.png"></a>
                    </div>    
                </div>
                
                <div class="col">
                    <div class="promo-box">
                        <div class="wide">
                            <h3 *ngIf="!mobile"><p>Promotie Mr. BIT</p></h3>
                            <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://bit.ly/35mW6wC"><h4>Creeaza-ti un cont nou aici</h4></a>
                            <h6><span> Bonus de bun venit 100% PÂNĂ LA 5.000 RON + 250 Free Spins, spor la castiguri!</span></h6>  
                            <h6>Licența nr. L1213854W001295 emisă de ONJN</h6>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row">   
                <div class="col">
                    <div class="promo-box">
                        <a style="text-align: center;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://bit.ly/33Vntx7"><h3>5 000 RON Frank Casino</h3>
                            <img style="object-fit: contain;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" src="/assets/img/franklogo.png"></a>
                        </div>    
                    </div>
                    
                    <div class="col">
                        <div class="promo-box">
                            <div class="wide">
                                <h3 *ngIf="!mobile"><p>Promotie Frank Casino</p></h3>
                                <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://bit.ly/33Vntx7"><h4>Creeaza-ti un cont nou aici</h4></a>
                                <h6><span> Bonus de bun venit 100% PÂNĂ LA 5.000 RON + 250 Free Spins, spor la castiguri!</span></h6>   
                                <h6>Licența nr. L1213854W001295 emisă de ONJN</h6>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <div class="row">   
                    <div class="col">
                        <div class="promo-box">
                            <a style="text-align: center;" href="https://bit.ly/3nWwBss"><h3>5 000 RON SlotV Casino</h3>
                                <img style="object-fit: contain;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" src="/assets/img/slotvlogo.png"></a>
                            </div>    
                        </div>
                        
                        
                        <div class="col">
                            <div class="promo-box">
                                <div class="wide">
                                    <h3 *ngIf="!mobile"><p>Promotie SlotV</p></h3>
                                    <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://bit.ly/3nWwBss"><h4>Creeaza-ti un cont nou aici</h4></a>
                                    <h6><span> Bonus de bun venit 100% PÂNĂ LA 5.000 RON + 250 Free Spins, spor la castiguri!</span></h6> 
                                    <h6>Licența nr. L1213854W001295 emisă de ONJN</h6>            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- <section class="page-section portfolio" id="portfolio">
                <div class="container">
                    <div class="row">   
                        <div class="col">
                            <div class="promo-box">
                                <a style="text-align: center;" href="https://bit.ly/3qQPBdT"><h3>99 Rotiri Hot Fiesta + 1,200</h3>
                                    <img style="object-fit: cover;" alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" src="/assets/img/sb-logo.png"></a>
                                </div>   
                            </div>                           
                            
                            <div class="col">
                                <div class="promo-box">
                                    <div class="wide">
                                        <h3 *ngIf="!mobile"><p>Promotie Superbet</p></h3>
                                        <a alt="bonus pacanele aparate slots mr bit frank casino slotv superbet coxino stream live" href="https://bit.ly/3qQPBdT"><h4>Creeaza-ti un cont nou aici</h4></a>
                                        <h6><span> 99 Rotiri Hot Fiesta bet 1leu fara rulaj plus 1,200lei bonus pentru primele 3 depuneri, spor la castiguri!</span></h6> 
                                        <h6>Site extern cu Licenta ONJN nr 1046/19.06.2017</h6>            
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </section>                 -->
                