<div class="container">
    <div class="row">
        <div class="col mb-5" *ngFor="let promo of promotii;">    
            <div class="promocard">
                <img src="/assets/img/promo/{{promo.image}}">
                <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 0}"></span>
                <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 1}"> </span>
                <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 2}"> </span>
                <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 3}"> </span>
                <span class="fa fa-star" [ngClass]="{'checked': promo.rating > 4}"> </span>
                <div class="title">
                    {{promo.name}}
                </div>
                <div class="descriere" [innerHTML]="promo.descriere | linkify">
                </div>
                <a href="{{promo.link}}" class="btn btn-danger">🎰 Mergi La Oferta 🎰</a>
            </div>
        </div>
    </div>
</div>