<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h1>Policy</h1>
        <h2>Google Login</h2>
        <h3>RO : Prin logarea cu Contul Google(Youtube) iti dai acordul pentru prelucrarea si stocarea datelor tale provenite de la Google. 
            <br>Date proventite de la Google 
            <br><h5>1. Nume si Prenume </h5>
            <br><h5>2. Adresa de E-mail </h5>
            <br><h5>3. Informatii cu privire la contul de Youtube </h5>
            <br>Conform GDPR poti solicita oricand stergerea datelor tale si renuntarea la participarea in campaniile desfasurate pe <b>coxino.ro</b>.            
            <br><b>coxino.ro</b> nu isi asuma nicio responsabilitate in cazul in care datele tale ajung la persoane terte prin orice mijloace.
            <br>Prin Logarea cu Contul Google(Youtube) iti dai acordul pentru a primii e-mail-uri din partea <b>coxino.ro</b>.
        </h3>
        <h3>EN : By signing in with your Google Account (Youtube) you agree to the processing and storage of your data from Google.
            <br> Data provided by Google
            <br><h5>1. 
                Name and surname </h5>
            <br><h5>2. 
                Email address </h5>
            <br><h5>3.
                Youtube account information </h5>
            <br>
            According to GDPR, you can request the deletion of your data at any time and the waiver of participation in the campaigns carried out on <b>coxino.ro</b>.            
            <br><b>coxino.ro</b> 
            assumes no responsibility if your data reaches third parties by any means.
            <br>
            By signing in with your Google Account (Youtube) you agree to receive emails from <b>coxino.ro</b>.
        </h3>
    </div>
</section>